version: '3.8'

services:
  web:
    build: .
    image: sindura_med_service
    container_name: sindura_med_service
    volumes:
      - .:/app
      - ./logs:/app/logs
      - ./media:/app/media
      - ./static:/app/static
    working_dir: /app
    command: ["/venv/bin/python", "manage.py", "runserver", "0.0.0.0:8000"]
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    depends_on:
      - db
      - redis

  db:
    image: postgres:18.1-alpine3.23
    container_name: db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./postgres:/docker-entrypoint-initdb.d
    command: >
      sh -c "
        docker-entrypoint.sh postgres &
        until pg_isready -U ${DB_USER}; do sleep 1; done;
        psql -U ${DB_USER} -tc \"SELECT 1 FROM pg_database WHERE datname = '${DB_NAME}'\" | grep -q 1 || \
        psql -U ${DB_USER} -c \"CREATE DATABASE ${DB_NAME}\";
        wait
      "

  redis:
    image: redis:7.4.3-alpine
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  pg_data:

networks:
  default:
    driver: bridge
